<h1><%= t "teams_company_banner" %></h1> 
<%= will_paginate %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "user.name" %></th>
        <th><%= t "member_value" %></th>
        <th><%= t "create_at" %></th>
        <th><%= t "description" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @teams %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
<%= link_to t("back"), root_path, class: "glyphicon glyphicon-step-backward" %>

