<% provide :title, t("skill.all") %>
<div class="container">
  <aside class="col-md-6">
    <%= render "search_form" %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "skill.title" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @skills %>
      </tbody>
    </table>
  </aside>
  <aside class="col-md-6">
    <%= link_to t("create"), new_admin_skill_path, class: "btn btn-large btn-primary" %></br></br>
    <%= link_to t("down_csv"), admin_skills_path(format: "csv") %>
    <%= render "shared/import_form", model: Skill %>
  </aside>
</div>
