<h1><%= t "layouts.title" %></h1>
<p><%= t "user.name" %></p>
<p><%= @name %></p>
<p><%= t "user.email" %></p>
<p><%= @email %></p>
<p><%= t "user.password" %></p>
<p><%= @password %></p>

<br/><%= t "mail.title" %>
<%= link_to t("layouts.login"), root_url %>
