<% provide :title, @user.name %>
<div class="row" >
  <aside class="col-md-4" >
    <section class="user_info" >
      <h1>
        <%= t('user.id') %>
        <%= @user.id %><br>
        <%= t('user.name') %>
        <%= @user.name %><br>
        <%= t('user.email') %>
        <%= @user.email %><br>
        <%= t('user.skill') %>
        <% @user.skills.each do |skill| %>
          <li><%= skill.name %></li>
        <% end %>
        <%= link_to "Add skill", user_assign_path(@user), class:'btn btn-success btn-sm' %>
      </h1>
    </section>
  </aside>
</div>
