<h1><%= t "teams_company_banner" %></h1>
<%= will_paginate %>
<%= link_to t("add"), new_admin_user_path, class: "glyphicon glyphicon-plus" %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "user.name" %></th>
        <th><%= t "user.birthday" %></th>
        <th><%= t "setting" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
<%= will_paginate %>

<%= link_to t("back"), root_path, class: "glyphicon glyphicon-step-backward" %>

