<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @team]) do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      
      <p>
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </p>

      <div class="row">
        <h3><%= t "user_no_team" %></h3>
        <%= render "user_list", f: f, source: @no_team_users %>     
      </div>
      <div class="row">
        <h3><%= t "this_team_users" %></h3>
        <%= render "user_list", f: f, source: @this_team_users %>     
      </div>
      <p><%= f.submit t("edit.team"), class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
