<h1>All team in My company</h1> 
<%= will_paginate %>
<%= link_to "Add", new_admin_team_path, class: "glyphicon glyphicon-plus" %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "user.name"%></th>
        <th><%= t "member_value"%></th>
        <th><%= t "create_at"%></th>
        <th><%= t "description"%></th>
        <th><%= t "setting"%></th>
      </tr>
    </thead>
    <tbody>
      <%= render @teams %>
    </tbody>
  </table>
</div>
<%= will_paginate %>

<%= link_to "Back", root_path, class: "glyphicon glyphicon-step-backward" %>

