<%= form_for [:admin, @team] do |f| %>
  <div class="field">
    <%= f.label :teamname %><br/>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description, autofocus: true %>
  </div>

  <br/><br/>
  <div class="field">
    <%= f.label :leader_id, t("leader") %>
    <%= f.select :leader_id, options_for_select(@leader_id) %>
  </div>

  <br/><br/>
  <div class="actions">
    <%= f.submit t("create") %>
  </div>
<% end %>

