<% provide :title, @team.name %>
<div class="container">
  <h1><%= t :welcome_banner, name: @team.name %></h1>
  <h2>
    <%= t "leader_name" %>:
    <%= @leader.name %><br/>
    <%= t "description" %>:
    <%= @team.description %><br/>
  </h2>
  <div class="row">
    <aside class="col-md-6">
      <section class="team_info">
        <table class="table">
          <thead>
            <tr>
              <th><%= t "user.name" %></th>
              <th><%= t "user.position" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "user", collection: @team.users %>
          </tbody>
        </table>
      </section>
    </aside>
    <aside class="col-md-6">
      <%= link_to t("edit.team"), edit_admin_team_path(@team), class:"btn btn-success btn-sm" %><br/>
      <%= link_to t("down_csv"), admin_team_path(format: "csv") %>
    </aside>
  </div>
</div>

