<% provide :title, @team.name %>
<div class="container">
  <h1>
    <%= t("welcome_to")%>
    <%= @team.name %> 
    <%= t("team")%>
  </h1>           
  <div class="row">
    <aside class="col-md-6 col-md-offset-3">
      <section class="team_info">
        <h2>
          <%= t("description") %>:
          <%= @team.description %><br/>
        </h2>
      </section>
    </aside>
  </div>
</div>
<%= link_to t("edit.team"), edit_admin_team_path(@team) %><br/>
<%= link_to t("back"), admin_teams_path, class: "glyphicon glyphicon-step-backward" %>
